@font-face {
  font-family: 'Two Weekend Go';
  src: url('/fonts/two-weekend-go/twoweekendgo-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Two Weekend Go';
  src: url('/fonts/two-weekend-go/twoweekendgo-semibold.otf') format('opentype');
  font-weight: 500 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Two Weekend Go';
  src: url('/fonts/two-weekend-go/twoweekendgo-bold.otf') format('opentype');
  font-weight: 700 800;
  font-style: normal;
  font-display: swap;
}
